@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bebas+Neue&family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Russo+One&display=swap');

*{
    font-family: 'poopins',sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
}
button{
    border: 0;
}

/* Navigation Bar */
nav{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    padding: 12px;
    width: 85%;
    margin: auto;
    padding: 12px;
}

#navbar-logo img {
    width: 380;
    height: 50px;
}

#nav-links{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

#nav-links ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

#nav-links li{
    margin-left: 60px;
}

#nav-links a{
    text-decoration: none;
    color: rgb(64,64,64);
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

#nav-links ul a:hover{
    color: rgb(65,105,2055);
}

#navbar-tools{
    display: flex;
    flex-direction: row;
    margin-left:60px ;
}

#navbar-tools a{
    display: flex;
    place-items: center;
}

#navbar-tools span{
    background-color: red;
    width: 17px;
    height: 17px;
    border-radius:50%;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    place-items: center;
    position: relative;
    bottom: 8px;
}
#wishlist-link{
    margin-left: 15px;
}

/*Product page main page*/ 
#product-page-body{
    padding:0 100px; 
}

#product-top-container{
    padding-top: 125px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
}

#product-top-wrapper{
    background-color: #edf2fb;
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding: 60px 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
}

#product-top-text-section{
    width: 52%;
}

#product-top-text-section h1{
    color: #3b71dc;
    font-size: 25px;
    font-weight:600 ;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    display: inline-block;
}

#product-top-text-section h2{
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
    font-family: 'outfit' , sens-serif
    ;
}

#product-top-text-section p{
    color: rgb(137,137,137);
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 1.7;
}

.blue-button{
    background-color: #3b71dc;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.blue-button:hover{
    background-color: rgb(102,136,240);
}

#product-top-image-section button{
    padding:15px 45px; 
    border-radius: 5px;
    font-size: 17px;
}

#product-top-image-section {
    background-color: #c7d5f1;
    width: 420px;
    height:420px; 
    border-radius: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
}

#product-top-image-section img {
    height: 80%;
    width: auto;
}

#product-top-image-section:hover{
    animation: shake 0.5s linear infinite;
    cursor: pointer; 
}

@keyframes shake{
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(3deg)
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(-3deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

/* Product category section  */
#product-category-text{
    margin-top: 40px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
}

.blue-line{
    display: inline-block;
    height: 30px;
    width: 10px;
    background-color: #3b71dc;
    border-radius: 10px;
    margin-right: 15px;
}

.section-category-text{
    color: rgb(64, 64, 64); 
    font-weight: 600;
    font-size: 25px;
    line-height: 3;
}

#product-category-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.product-category{
    width: 31%;
    height: 110px;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    place-items: center;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    transition: 0.3s ease-in-out;
}

.product-category:hover {
    transform: translateY(-5px)
}

.product-category-image-section{
    background-color: #f0f4ff;
    display: flex;
    width: 80px;
    height: 80px;
    margin-left: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.product-category-image-section img{
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}

.product-category-desc-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    height: 100%;
    flex-grow: 1;
}

.product-category-desc-section .product-category-type{
    color: rgb(64,64,64);
    font-weight: 500; 
    font-size: 18px;
}

.product-category-desc-section .product-category-number{
    color: rgb(137,137,137);
    font-size: 15px;
}